#mainbody{
	margin: 0px;
}

#container{
	width: 100%;
	height: 900px;
	background-color: dimgray;
}

#heading{
	width: 100%;
	height: 10%;
	background-color: coral;
}

#content_menu{
	width: 30%;
	height: 80%;
	background-color: cadetblue;
	float: left;
}

#content_body{
	width: 100%;
	height: 80%;
	background-color: antiquewhite;
	float: none;
}

#footing{
	width: 100%;
	height: 10%;
	background-color: slategrey;
}